@media (max-width: 767px) {
body {
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;

    margin-bottom: 20px;
}

/* Scroll */

html {
  scroll-behavior: smooth;
}

#direction {
  scroll-margin-top: 10vh;
}

/* Navigation */
nav {
    position: fixed;
    top: 0;             
    left: 0;
    width: 100%;         
}

.navigation-links {
    display: flex;               
    justify-content: center;     
    gap: 5px;                   
    list-style: none;            
    padding: 10px;
    
    background: transparent;
}

.navigation-links li a {
    display: inline-block;

    background-color: white;                     
    text-decoration: none;       
    padding: 10px 20px;          
    border: 1px solid black;    
    border-radius: 50px;

    font-family: sans-serif;
    font-weight: bold; 
    color: black;
    font-size: 14px;
    letter-spacing: -1px;     
}

.navigation-links li a:hover { 
    transform: translateY(-3px);
}

/* Hero */

.hero {
    width: auto;
    height: 65vh;

    background-color: #f2d35c;
    border: 2px solid black;
    border-radius: 25px;

    padding: 60px 20px;
    margin-top: 90px;

    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    text-align: center; 
}

.hero-heading {
    font-family: 'Times New Roman', Times, serif;
    font-size: 100px;
    font-weight: bold;
    line-height: 80px;
    letter-spacing: -10px;

    margin: 0%;
    padding: 0%;
}

.hero-subheading {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 2px;

    margin-top: 40px;
}

.hero-link {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: black;

    display: inline-block;
    margin-top: 25px;

    text-decoration: none;
    border: 1px solid black;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: white;
}

.hero-link:hover {
    transform: translateY(-3px);
}

/* Profile */

.profile {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    text-align: center; 

    margin-top: 150px;
}

.profile img {
    width: 200px;
    height: auto;
    border: 2px solid black;
    border-radius: 50px;
}

.profile-name {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 25px;
    color: black;
    letter-spacing: -2px; 
    margin-top: 15px;
    margin-bottom: 0px;
}

.profile-info {
    font-family: sans-serif;
    font-size: 15px;
    color: black;
    letter-spacing: -1px; 
    margin-top: 5px;
}

/* Abouts */

.abouts {
    margin: 50px 20px 0 20px;
}

.individual-abouts {
    margin-top: 30px;
}

.abouts-heading {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: black;
    letter-spacing: -1px;
    margin: 0 0 0 0 ;
}

.abouts-subheading {
    font-family: sans-serif;
    font-size: 14px;
    color: black;
    letter-spacing: 1px;
    margin: 0 0 0 0 ;

    overflow-wrap: break-word;
    word-break: normal;
}

.abouts-subheading a {
    font-family: sans-serif;
    text-decoration: underline;
    font-size: 14px;
    color: black;
    letter-spacing: 1px;
    margin: 0 0 0 0 ;
}

/* More */

.more {
    justify-content: center;
    align-items: center;
    text-align: center;

    margin-top: 100px;
}

.more-heading {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: black;
    letter-spacing: -1px;
    margin-bottom: 30px;
}

.more-folder-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center; 
}

.more-folder {
    text-decoration: none;
    margin: 50px 30px 0 30px;
}

.more-folder a {
    text-decoration: none;
}

.more-folder:hover {
    transform: translateY(-3px);
}

.more-folder img {
    width: 90px;
    height: auto;
}

.folder-name {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 13px;
    color: black;
    letter-spacing: -1px;
    margin: 0 0 0 0 ;
}

/* Footer */

.footer-box {
  margin-top: 200px;
  text-align: center;
}

.footer-box p {
    font-family: sans-serif;
    font-size: 14px;
    color: black;
    letter-spacing: -1px;
}  
}
